p {
    width: 300px;
    white-space: normal;
}
body {
    background-image: url("Lasagna.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }